.button {
    position: relative;
    margin: 0 1rem;
    width: 4rem;
    background: darkgreen;
    color: greenyellow;
    border: 1px solid #004400;
    overflow: hidden;
    /*cursor: pointer;*/
}

.button:hover::before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(252, 252, 252, 0.15);
}

.button:active::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #004400;
}


.button:disabled::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(119, 119, 119, 0.77);
}

.button:disabled:hover::before {
    z-index: -1;
}


.red {
    background: red;
}