@keyframes blink {
    0% {
        left: -130%;
    }
    100% {
        left: 130%;
    }
}

.button {
    position: relative;
    margin: 0 1rem;
    background: darkgreen;
    color: greenyellow;
    border: 1px solid #004400;
    overflow: hidden;
    /*white-space: nowrap;*/
    /*cursor: pointer;*/
}

.button:hover::after {
    animation: blink 0.35s ease;
}

.button::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: -130%;
    height: 100%;
    width: 10%;

    transform: skew(45deg);

    background: #fff;
    opacity: 0.7;
    z-index: 14;
}

.button:hover::before {
    display: block;
    content: " ";
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: #fff;
    opacity: 0.2;
    z-index: 7;
}

.button:active::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #004400;
}


.button:disabled::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(119, 119, 119, 0.77);
}

.button:disabled:hover::before {
    z-index: -1;
}

.button:disabled:active::after {
    border: none;
}

.red {
    background: red;
}